@page "/"
@using System.Text.Json
@inject SampleClient SampleClient
@inject HttpClient _client
<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
@code {

    protected override async Task OnInitializedAsync()
    {
        try{
            var result = await SampleClient.GetTrainee.ExecuteAsync("8a2a3dea-77f4-471a-85f2-6054df81b270");
            var t = result.Data;
            var exceptionGetThrown = result.Data.Trainee;
        }catch(Exception e)
        {
            Console.WriteLine(e);
        }
        

    }
}