@page "/"
@using System.Text.Json
@inject SampleClient SampleClient
@inject HttpClient _client
<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
@code {

    protected override async Task OnInitializedAsync()
    {

        var result = await SampleClient.GetTrainee.ExecuteAsync("6196065a484ff46fbf803396");
        var t = result.Data;


    }
}